<div id="headerwrap">
  <div class="container">
    <div class="jumbotron">
      <h1 class="centered">Codex</h1>
      <p>Create and share Markdown Wiki's</p>
      <p>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
</div>

<div id="intro">
  <div class="container">
    <div class="row centered">
      <h1>Which plan is best for you?</h1>
      <br>
      <br>
      <div class="col-lg-6">
        <%= image_tag("free-logo.png") %>
        <h3>Create as many public wiki's as you want!</h3>
      </div>
      <div class="col-lg-6">
        <%= image_tag("premium-logo.png") %>
        <h3>Create private wiki's and add collaborator's to your wiki! </h3>
      </div>
    </div>
  </div>
</div>

<div id="footerwrap">
    <div class="container">
      <div class="col-lg-5">
        <h3>Address</h3>
        <p>
        123 Fake st.<br/>
        Springfield, MA 90873<br/>
        United States
        </p>
      </div>

      <div class="col-lg-7">
        <h3>Contact Us</h3>
        <br>
        <form role="form" action="#" method="post" enctype="plain">
          <div class="form-group">
            <label for="name1">Your Name</label>
            <input type="name" name="Name" class="form-control" id="name1" placeholder="Your Name">
          </div>
          <div class="form-group">
            <label for="email1">Email address</label>
            <input type="email" name="Mail" class="form-control" id="email1" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label>Your Text</label>
            <textarea class="form-control" name="Message" rows="3"></textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-large btn-success">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
  <div id="c">
    <div class="container">
      <p>Created by <%= link_to "Ronald Chacon", root_path %></p>
    </div>
  </div>



