@import "bootstrap";
// @import 'base/epiceditor';
// @import 'preview/bartik';
// @import 'preview/github';
// @import 'preview/preview-dark';
// @import 'editor/epic-dark';
// @import 'editor/epic-light';
@import "main";
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Raleway);

.user-info {
  padding: 15px 0;
}

.alert {
  margin-top: 15px;
}

#epiceditor {
  height: 300px;
  border: solid 1px #cccccc;
}

.navbar-default {
  background-color: #F7F7F7;
  border-bottom: #ccc solid 3px;
}

html {
  padding: 0;
}
